.button-add {
    background-color: #1B1A17;
    border-radius: 8px;
    border: 2px solid #FF8303;
    padding: 0 1.5rem 0 1.5rem;
    cursor: pointer;
}

.button-add:hover {
    background-color: #23221F;
}

.input {
    background-color: #242320;
    color: #F0E3CAA3;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border: 1px solid #FF8303;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.input:hover {
    background-color: #2B2A27;
    color: #F0E3CA;
}

.button-delete {
    width: 32px;
    height: 32px;
    background-color: #1B1A17;
    border-radius: 5px;
    border: 2px solid #A35709;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #23221F;
}

.button-share,
.button-info,
.button-edit {
    width: 36px;
    height: 36px;
    background-color: #242320;
    border-radius: 6px;
    border: 2px solid #A35709;
    cursor: pointer;
}

.button-info {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.button-share:hover,
.button-info:hover,
.button-edit:hover {
    background-color: #2B2A27;
}